<h2>Register Here</h2>

<form action="/submit" method="POST">
Name: <input type="text" name="name"><br><br>
Email: <input type="email" name="email"><br><br>

Course:
<select name="course">
    <option>Full Stack Development</option>
    <option>Data Science</option>
    <option>Cyber Security</option>
</select><br><br>

Age: <input type="number" name="age"><br><br>

<button type="submit">Submit</button>
</form>